@page "{restaurantId:int}"




@model OdeToFood.Pages.Restaurants.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.restaurant.Name</h2>
<div>
    ID :    @Model.restaurant.Id
</div>
<div>
    Location :    @Model.restaurant.Location
</div>
<div>
    Cuisine :    @Model.restaurant.Cuisine
</div>


@if (Model.Message != null)
{
<div class="alert alert-info">
    @Model.Message
</div>
}
<a asp-page="./List" class="btn btn-primary">See All Restaurants</a>